<div class="row form-group">
  <div class="col-md-2">
    <label>Patient ID : </label>
  </div>
  <div class="col-md-10">
    <input type="text" readonly class="form-control" [(ngModel)]="patientDetails.patientId">
  </div>
</div>
<div class="row form-group">
  <div class="col-md-2">
    <label>Patient Name : </label>
  </div>
  <div class="col-md-10">
    <input type="text" readonly class="form-control" [(ngModel)]="patientDetails.patientName">
  </div>
</div>
<div class="row form-group">
  <div class="col-md-2">
    <label>Date of Birth : </label>
  </div>
  <div class="col-md-10">
    <input type="text" readonly class="form-control" [(ngModel)]="patientDetails.dateOfBirth">
  </div>
</div>
<div class="row form-group">
  <div class="col-md-2">
    <label>Age : </label>
  </div>
  <div class="col-md-10">
    <input type="text" readonly class="form-control" [(ngModel)]="patientDetails.age">
  </div>
</div>