<div class="panel panel-primary">
  <div class="panel-heading">Add Patient</div>
  <div class="panel-body">
    <div class="form-horizontal">
      <div class="row form-group">
        <div class="col-md-3">
          <label>Patient Name: </label>
        </div>
        <div class="col-md-9">
          <input type="text" class="form-control" [(ngModel)]="newPatientDetails.patientName">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-3">
          <label>Birth Date: </label>
        </div>
        <div class="col-md-9">
          <input type="date" class="form-control" [(ngModel)]="newPatientDetails.dateOfBirth">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-3">
          <label>Age: </label>
        </div>
        <div class="col-md-9">
          <input type="text" class="form-control" [(ngModel)]="newPatientDetails.age">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-1">
          <button class="btn btn-primary" (click)="onSavePatient()">Save</button>
        </div>
        <div class="col-md-1">
          <button class="btn btn-primary">Clear</button>
        </div>
        <!-- <div class="col-md-offset-7">&nbsp;
        </div>
        <div class="col-md-2">
          <a routerLink='/allpatients'>Back to Patient List</a>
        </div> -->
      </div>
    </div>
  </div>
</div>